.order-bill {
  padding: 20px;
  font-family: Arial, sans-serif;
  max-width: 1000px;
  margin: 0 auto;

  // Responsive Design
  @media (max-width: 768px) {
    padding: 15px;
  }

  .order-bill-content {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;

    h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }

    .order-details {
      margin-bottom: 20px;

      .detail-item {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 1.5;

        strong {
          display: block;
          margin-bottom: 5px;
        }
      }
    }

    h2 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    .order-products {
      .product-table {
        width: 100%;
        border-collapse: collapse;

        thead {
          background-color: #007bff;
          color: rgb(51, 51, 51);
          text-align: left;

          th {
            padding: 10px;
            font-size: 16px;
          }
        }

        tbody {
          tr {
            border-bottom: 1px solid #2c2c2c;
          }

          td {
            padding: 10px;
            font-size: 14px;
          }
        }
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 20px; // Adjust spacing between buttons
    margin-top: 20px;

    .print-button,
    .snapshot-button {
      padding: 10px 20px;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      color: #fff;
      transition: background-color 0.3s ease;

      &:hover {
        opacity: 0.9;
      }
    }

    .print-button {
      background-color: #007bff;

      &:hover {
        background-color: #0056b3;
      }
    }

    .snapshot-button {
      background-color: #28a745;

      &:hover {
        background-color: #218838;
      }
    }
  }

  // Responsive Design for Buttons
  @media (max-width: 768px) {
    .buttons {
      flex-direction: column;
      align-items: center;

      .print-button,
      .snapshot-button {
        width: 100%;
        max-width: 300px;
        margin-bottom: 10px;
      }

      .snapshot-button {
        margin-bottom: 0;
      }
    }
  }
}
